body {
  scroll-behavior: smooth;
  font-family: 'Quicksand', sans-serif;
}

/* ******************************************** */
/* NAVBAR SECTION */
/* ******************************************** */
.nav1 {
  background-color: #fff;
}

.nav1 #sidebarCollapse {
  font-size: 26px;
}

.nav1 #sidebarCollapse2 {
  font-size: 20px;
}

.nav1 .logo {
  width: 30px;
  margin-right: 10px;
}

.nav1 .navbar-brand {
  font-weight: 600;
  color: #152149;
  letter-spacing: 1px;
}

.navbar-nav {
  display: inline-block;
}

.navbar-nav > li {
  display: inline-block;

}

.nav1 .loginBtn {
  background-color: #152149;
  width: 100px;
  color: #fff;
  font-weight: 600;
  border-radius: 50px;
}

.nav2 {
  /* margin-top: 50px; */
  padding: 0px;
  background-color: #152149;
  box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.2);
}

.nav2 .navbar-nav {
  display: inline !important;
}

.nav2 .toolTip {
  position: absolute;
  top: 50px;
  transition: all .3s ease;
  visibility: hidden;
  opacity: 0;
  background-color: #0009;
  border-radius: 2px;
  font-size: 14px;
  font-weight: 600;
  color: #fff;
  padding: 3px 10px 3px 10px;
}

.nav2 .nav-item:hover .toolTip {
  visibility: visible;
  opacity: 1;
}

.nav2 a {
  color: #fff !important;
  font-size: 20px;
  font-weight: 600;
}

/* .nav2 a:hover {
  color: #fff9 !important;
} */
.nav2 .drpbtn {
  color: #fff !important;
  font-size: 20px;
  font-weight: 600;
}

.drpdown-content {
  display: none;
  position: absolute;
  /* top: 50px; */
  background-color: #f9f9f9;
  border-radius: 4px !important;
  min-width: 110px;
  box-shadow: 0px 8px 23px 0px rgba(0, 0, 0, 0.1);
  z-index: 1;
  overflow-x: hidden;
}

.drpdown-content a {
  float: none;
  padding: 7px 16px;
  text-decoration: none;
  color: #5f6368 !important;
  font-size: 14px !important;
  display: block;
  text-align: center;
  transition: all .3s;
}

.drpdown-content a:hover {
  background-color: #f1f3f4;
  color: #5f6368 !important;
}

.drpdown:hover .drpdown-content {
  display: block;
  transition: all .3s ease;
}

/* ******************************************** */
/* LANDING SECTION */
/* ******************************************** */
main {
  margin-top: 10%;
  min-height: 80vh;
  /* background-color: #000; */
}

main .landingSection h1 {
  color: #3c4043;
  font-size: 46px;
  font-weight: 600;
  letter-spacing: 1px;
}

main .landingSection p {
  color: #80868b;
  letter-spacing: 1px;
}

main .landingSection .getStartedBtn {
  background-color: #152149;
  width: 200px;
  color: #fff;
  font-weight: 600;
  border-radius: 50px;
}

main .landingSection #dark_blue {
  width: 300px;
  transform: rotate(5deg);
  position: absolute;
  top: 100px;
  left: -300px;
  opacity: 0.2;
}

main .landingSection #light_blue {
  width: 200px;
  transform: rotate(70deg);
  position: absolute;
  top: 300px;
  right: -300px;
  opacity: 0.2;
}

main .landingSection #orange {
  width: 400px;
  transform: rotate(20deg);
  position: absolute;
  top: -50px;
  right: -300px;
  opacity: 0.1;
}

/* ******************************************** */
/* PRODUCTS SECTION */
/* ******************************************** */
.products {
  background-color: #f9f8fa;
  min-height: 60vh;
}

.products h2 {
  color: #80868b;
  font-weight: 600;
}

.products h2+p {
  color: #80868b;
  letter-spacing: 1px;
}

.products .card {
  border: none;
  margin-bottom: 20px;
  border-radius: 25px;
  min-height: 370px;
  box-shadow: 0 0 23px 0 rgba(0, 0, 0, 0.09);
}

.products .card img {
  width: 50px;
}

.products .card h4 {
  text-align: center;
  color: #F8A13B;
  font-size: 20px;
  font-weight: 600;
}

.products .card p {
  color: #80868b;
  font-size: 14px;
  letter-spacing: 0.5px;
}

.products .card a {
  text-decoration: none;
  color: #dadce0;
  font-weight: 600;
  transition: all .3s;
}

.products .card:hover a {
  color: #9aa0a6;
}

.products .card:hover a::after {
  content: '→';
  margin-left: 10px;
}

/* ******************************************* *?/
USECASE SECTION
/* ******************************************* */
.usecase {
  min-height: 50vh;
}

.usecase h3 {
  color: #80868b;
  font-weight: 600;
  font-size: 30px;
  text-align: center;
}

.usecase .card {
  border: none;
  margin-bottom: 20px;
  border-radius: 25px;
  box-shadow: 0 0 23px 0 rgba(0, 0, 0, 0.09);
}

.usecase h4 {
  color: #6ba832;
  text-align: center;
  font-weight: 600;
}

.usecase .card p {
  color: #80868b;
  font-size: 14px;
  letter-spacing: 0.5px;
}

/* ******************************************* *?/
FOOTER SECTION
/* ******************************************* */
.footer {
  /* background-color: #dadce0; */
}

.footer>.container:first-child {
  min-height: 40vh;
}

.footer .col-md-3 {
  margin-bottom: 20px;
}

.footer h4 {
  color: #5f6368;
  font-weight: 600;
  font-size: 20px;
  text-transform: uppercase;
}

.footer p {
  font-size: 14px;
  font-weight: 600;
  color: #808b8b;
  line-height: 15px;
}

.footer p:hover {
  cursor: pointer;
  color: #5f6368;
}

.footer .bottom {
  color: #80868b;
  min-height: 50px;
  padding-top: 10px;
  text-align: center;
  background-color: #dadce0;
}

/* ******************************************* *?/
  MEDIA QUERIES SECTION
/* ******************************************* */
@media (max-width: 768px) {
  .nav1 {
    width: 100% !important;
    padding: 10px 10px 0 30px !important;
    box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.2);
  }

  .nav2 {
    width: 100% !important;
  }

  /* .na1 .loginBtn{
    margin-right: 0px!important;
  } */
  main {
    margin: 20% 0 20% 0;
    padding: 0 20px 0 20px;
    min-height: 80vh;
    /* background-color: #000; */
  }

  main .landingSection #dark_blue,
  main .landingSection #light_blue,
  main .landingSection #orange {
    display: none;
  }

  main .landingSection h1 {
    color: #3c4043;
    font-size: 40px;
    font-weight: 600;
    letter-spacing: 1px;
  }

  .products {
    padding: 0 20px 0 20px;
  }

  .products .card {
    min-height: 200px;
  }

  .loginBtnSide {
    background-color: #fff;
    width: 100px;
    color: #152149;
    font-weight: 600;
    padding: 0;
    border-radius: 50px;
  }

  .footer {
    text-align: center;
  }
  .nav2 {
    padding-right: 0!important;
  }
  .nav2 .toolTip{
    display: none;
  }
}
