body {
  scroll-behavior: smooth;
  font-family: 'Quicksand', sans-serif;
}

/* ******************************************** */
/* NAVBAR SECTION */
/* ******************************************** */
.nav1 {
  background-color: #fff;
}

.nav1 .navbar-brand {
  font-weight: 600;
  color: #152149;
  letter-spacing: 1px;
}

.nav1 .loginBtn {
  background-color: #152149;
  width: 100px;
  color: #fff;
  border-radius: 50px;
}

.nav2 {
  background-color: #152149;
  box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.2);
}

.nav2 a,
.nav2 .drpbtn {
  color: #fff !important;
  font-size: 20px;
  font-weight: 600;
}

.drpdown-content {
  display: none;
  position: absolute;
  /* top: 50px; */
  background-color: #f9f9f9;
  border-radius: 4px !important;
  min-width: 110px;
  box-shadow: 0px 8px 23px 0px rgba(0, 0, 0, 0.1);
  z-index: 1;
  overflow-x: hidden;
}

.drpdown-content a {
  float: none;
  color: black !important;
  padding: 7px 16px;
  text-decoration: none;
  color: #5f6368 !important;
  font-size: 14px !important;
  display: block;
  text-align: center;
  transition: all .3s ease;
}

.drpdown-content a:hover {
  background-color: #f1f3f4;
}

.drpdown:hover .drpdown-content {
  display: block;
  transition: all .3s ease;
}

/* ******************************************** */
/* LANDING SECTION */
/* ******************************************** */
main {
  margin-top: 10%;
  min-height: 80vh;
  /* background-color: #000; */
}

main .landingSection {}

main .landingSection h1 {
  color: #3c4043;
  font-size: 46px;
  font-weight: 600;
  letter-spacing: 1px;
}

main .landingSection p {
  color: #80868b;
  letter-spacing: 1px;
}

main .landingSection .getStartedBtn {
  background-color: #152149;
  width: 200px;
  color: #fff;
  font-weight: 600;
  border-radius: 50px;
}

main .landingSection #dark_blue {
  width: 300px;
  transform: rotate(5deg);
  position: absolute;
  top: 100px;
  left: -300px;
  opacity: 0.2;
}

main .landingSection #light_blue {
  width: 200px;
  transform: rotate(70deg);
  position: absolute;
  top: 300px;
  right: -300px;
  opacity: 0.2;
}

main .landingSection #orange {
  width: 400px;
  transform: rotate(20deg);
  position: absolute;
  top: -50px;
  right: -300px;
  opacity: 0.1;
}

/* ******************************************** */
/* PRODUCTS SECTION */
/* ******************************************** */
.products {
  min-height: 70vh;
}

.products h3 {
  color: #F8A13B;
  font-weight: 600;
  font-size: 30px;
}

.products h3+p {
  color: #80868b;
  letter-spacing: 1px;
}

.products .card {
  border: none;
  border-radius: 25px;
  box-shadow: 0 0 23px 0 rgba(0, 0, 0, 0.09);
}

.products .card h4 {
  text-align: center;
  color: #F8A13B;
  font-weight: 600;
}

.products .card p {
  color: #80868b;
  letter-spacing: 0.5px;
  
}

.products .card a{
  text-decoration: none;
  color: #73CED4;
  font-weight: 600;
}
